// generic reset
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

// reset for mobile
html,
body {
  width: 100;
}

body {
  box-sizing: border-box;

  // hide scroll bar
  // -ms-overflow-style: none; /* IE and Edge */
  // scrollbar-width: none; /* Firefox */
  // &::-webkit-scrollbar {
  // display: none;
  // }
}
