$black: #000;
$near-black: #191919;
$white: #fff;
$main: #165416;
$button-accent: #144414;
$secondary: #0caa0c;
$tertiary: #092509;
$grey: #aaa;
$dark-main: #333;
$dark-sec: #777;

$background-color: $near-black;

$side-margin: 5rem;

$linkBB: $near-black 1px solid;
