.posts {
  $m-spacing: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-flow: column;

  &__post {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-flow: column;

    width: 100%;
    margin: $m-spacing 0rem;

    border-bottom: 1px solid white;
  }

  &__link {
    margin-bottom: $m-spacing;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
  }
}
