body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  background-color: black;
  color: red;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  opacity: 0;
  transition: opacity 300ms;

  &--active {
    opacity: 1;
  }
}
